body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding-bottom: 50px; 
}

p{
    color: black;
}

h1 {
    color: #4285f4;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

img.one-third {
    max-width: calc(100% / 3);
    max-height: 300px; /* Set the maximum height of the image */
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}
    .app-panel{
      height: 100vh;
      width: 100vw;
      text-align: center;
      background-color: black;
    }
  
    #webcam{
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      height: 100vh;
      z-index: 999;
      pointer-events: none;
      margin: 0 auto;
    }
  
    .md-modal {
      margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2000;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .md-show {
        visibility: visible;
    }
    
    .md-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        visibility: hidden;
        top: 0;
        left: 0;
        z-index: 1000;
        opacity: 0;
        background: rgba(#e4f0e3, 0.8);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .md-show ~ .md-overlay {
        opacity: 1;
        visibility: visible;
    }
    
    .md-effect-12 .md-content {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .md-show.md-effect-12 ~ .md-overlay {
        background-color: #e4f0e3;
    } 
    
    .md-effect-12 .md-content h3,
    .md-effect-12 .md-content {
        background: transparent;
    }
    
    .md-show.md-effect-12 .md-content {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
  
   #errorMsg {
       position: fixed;
       top: 22vh;
       left: 0;
       padding: 20px;
       z-index: 999999;
   }
  
  #cameraFlip {
    width: 70px;
      height: 55px;
      margin-left: 40px;
      margin-top: -10px;
      position: absolute;
      cursor: pointer;
      background-color: black;
      background-position: center center;
      background-repeat: no-repeat;
  }
  
  .cameraControls {
    position: absolute;
    bottom: 10vh;
    width: 100%;
    z-index: 99999;
    background: transparent;
    opacity: 0.7;
    padding: 10px;
  }

  .material-icons{
    width: 100px;
    font-size: 50px !important;
    color: white;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    padding-top: 15px;
    margin: 0 10px;
  }
  
  .flash{ 
    position:fixed; 
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#fff;
    z-index: 999999;
  }
  
  #canvas{
    background-color: transparent;
    position: absolute;
    z-index: 9999;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (max-width: 480px) {
    .form-control.webcam-start{
      width: 300px;
    }
  
    #webcam{
      position: absolute;
      width: auto;
      height: 100vh;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cameraControls {
      bottom: 25vh;
    }
  }
  
  @media screen and (min-width: 420px) and (max-width: 767px) {
    .form-control.webcam-on {
      top: 17vh;
      left: 0;
    }
  }
  
  @media screen and (min-width: 768px) {
    .webcam-container {
        background-attachment: fixed;
    }
  
    #errorMsg {
      position: fixed;
      top: 32vh;
      left: 20vw;
      padding: 20px;
      z-index: 999999;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .form-control.webcam-on {
      top: 16vh;
      left: 8vw;
    }
  }

#webcam-icon {
  width: 40px; 
  height: 20px;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
}


button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #3367d6;
}


footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline;
}    
