<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugarcane Disease Prediction</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/styles.css'>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>  
    <script src="/static/webcam-easy.js"></script> 
</head>
<body>
    <h1>Sugarcane Disease Prediction</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <input type="checkbox" id="webcam-switch" style="display: none">
        <label for="webcam-switch">
            <img src="/static/cam.png" alt="Webcam Icon" id="webcam-icon">
        </label>
        <span id="webcam-caption">Click from Camera</span>
        <button type="submit">Predict</button>
    </form>
    
    <div id="errorMsg" class="col-12 col-md-6 alert-danger d-none">
        Fail to start camera, please allow permision to access camera. <br/>
        If you are browsing through social media built in browsers, you would need to open the page in Sarafi (iPhone)/ Chrome (Android)
        <button id="closeError" class="btn btn-primary ml-3">OK</button>
    </div>
    <div class="md-modal md-effect-12">
        <div id="app-panel" class="app-panel md-content row p-0 m-0">     
            <div id="webcam-container" class="webcam-container col-12 d-none p-0 m-0">
                <video id="webcam" autoplay playsinline ></video>
                <canvas id="canvas" class="d-none"></canvas>
                <div class="flash"></div>
            </div>
            <div id="cameraControls" class="cameraControls">
                <a href="#" id="exit-app" title="Exit App" class="d-none"><i class="material-icons">exit_to_app</i></a>
                <a href="#" id="take-photo" title="Take Photo"><i class="material-icons">camera_alt</i></a>
                <a href="#" id="download-photo" download="selfie.png" target="_blank" title="Save Photo" class="d-none"><i class="material-icons">file_download</i></a>  
                <a href="#" id="resume-camera"  title="Resume Camera" class="d-none"><i class="material-icons">camera_front</i></a>
            </div>
        </div>        
    </div>
    <div class="md-overlay"></div>
    {% if prediction %}
        <p>{{ prediction }}</p>
        <img src="static/uploads/uploaded_image.jpg" alt="Uploaded Image" class="one-third">
        {% if prevention %}
            <h3>Prevention:</h3>
            <ul>
                {% for point in prevention.split('\n') %}
                    <li>{{ point }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <footer>
        &copy; 2024 All rights reserved. | <a href="https://github.com/chyash1110/sugarcanedisease" target="_blank">Source Code</a>
    </footer>
    <script src = "/static/app.js"></script>
</body>
</html>
